body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #8C8C8C;
   }

   .title-styles {
      color: rgb(0, 0, 0);
   }

   .header-icon {
      color: #ffffff;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #000000;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-image: -webkit-linear-gradient(#7558de, #c0a2e8);
      background-size: cover;      
      color: white;
   }

   header {
      //background-color: #ff0000;
      background-image: url(../themes/galaxy-space-3840x2160.jpg);
      background-size: cover;
      h1 {
         //color: rgb(255, 255, 255);
         background-image: url(../themes/pexels-ithalu-dominguez-907485.jpg);
         background-size: cover ;
      }
   }

   #about {
      background-image: -webkit-linear-gradient(#5877de, #c0a2e8);
	      background-size: cover;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #6d6d6d;
      }
      .card {
         background: #6d6d6d;
         color: white;
      }
   }

   #portfolio {
      background: #5b5b5b;
      .section-title {
         color: white !important;
         -webkit-text-stroke: .1px red;
      }
      .foto div {
         background: #6d6d6d;
      }
      .project-title-settings {
         color: white;
      }
   }

   #resume {
      filter: brightness(80%);
      background-image: -webkit-linear-gradient(#440695, #daabe9);
      background-size: cover;    
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #000000 !important;
         color: white;
      }

      .main-badge {
         background: #000000 !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #919191 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #5b5b5b;
      color: white;
   }

   .close-icon {
      color: white;
   }

   .title-styles {
      -webkit-text-stroke: 1px rgb(223, 16, 16);
   }
   .title-container {
      font-size: 40px;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      text-stroke: 3px rgb(0, 0, 0);        
      background-image: -webkit-linear-gradient(#440695, #daabe9);
      background-size: cover;
      -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
   }
}
